<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1><%= card[0].owner.username %> Cards</h1>
    <p><% for (let oneCard of card){%></p>
        <p>Card Number: <%= oneCard.cardNumber %></p>
        <a href="/card/<%=oneCard._id%>">View Card Details</a>
    <p><% } %></p>
</body>
</html>