<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Your Card</h1>
    <form action="/card" method="post">
        <label for="cardNumber">Card Number</label>
        <input name="cardNumber" id="cardNumber" type="number">
        <br>
        <br>
        <label for="cardType">Card Type</label>
        <input name="cardType" id="cardType" type="text">
        <br>
        <br>
        <label for="expiryDate">Expiry Date</label>
        <input name="expiryDate" id="expiryDate" type="month">
        <br>  
        <br>
        <button>Add card</button>
    </form>
</body>
</html>