<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Add Your Card</h1>
    <form action="/card" method="post">
        <label for="cardNumber">Card Number</label>
        <input name="cardNumber" id="cardNumber" type="number">
        <br>
        <br>
        <label for="cardType">Card Type</label>
        <select name="cardType" id="cardType" required>
            <option value="">-- Select --</option>
            <option value="debit">Debit</option>
            <option value="credit">Credit</option>
        </select>           
        <br>
        <br>
        <label for="expiryDate">Expiry Date</label>
        <input name="expiryDate" id="expiryDate" type="month">
        <br>  
        <br>
        <button>Add card</button>
    </form>
</body>
</html>