<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main>
    <h1>Deposit Money</h1>
    <form action="/card/<%=card._id%>/transaction/deposit" method="post">
        <label for="amount">Deposit Amount</label>
        <input name="amount" id="amount" type="number" step="0.1">
        <br><br>
        <button class="btn">Deposit</button>
    </form>
    </main>
</body>
</html>