<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Withdraw Money</h1>
    <form action="/card/<%=card._id%>/transaction/withdrawal" method="post">
        <label for="amount">Withdrawal Amount</label>
        <input name="amount" id="amount" type="Number" step="0.1">
        <br><br>
        <button>Withdraw</button>
    </form>
</body>
</html>